@tailwind base;
@tailwind components;
@tailwind utilities;

/* ব্রাউজারের ডিফল্ট পাসওয়ার্ড আইকন হাইড করার জন্য */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-contacts-auto-fill-button,
input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}